#settingpanel {
	background-color: gray;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

	max-height: 45vh;
	overflow-y: auto;
}

#settingpanel h3 {
	margin: 4px 0;
}

#settingpanel hr {
	margin: 2px 0 16px 0;
	border: none;
	border-top: 1px solid rgb(73, 73, 73);
}

#settingpanel > div {
	overflow-x: auto;
	border: 1px solid rgb(70, 70, 70);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

#settingpanel input[type="text" i] {
	height: 24px;
	font-size: 1rem;
	border-radius: 4px;
	border-style: none;
	border: none;
	padding-block: 3px;
	padding-inline: 5px;
	margin-right: 5px;
}

#iconsettings > div {
	height: 32px;
	display: grid;
	grid-template-columns: 110px 1fr;
	align-items: baseline;
}

#pagesettings > div {
	height: 32px;
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: baseline;
}

#filesettings > div {
	height: 32px;
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: baseline;
}

.halves {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3px;
}

.setbutton {
	position: absolute;
	right: 20px;
	top: -110px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	opacity: 0.15;
	transition: opacity 0.3s;
}

.setbutton:hover {
	opacity: 1;
}

.setbutton img {
	width: 90px;
	height: 90px;
	margin: 5px;
}
