#settingpanel {
	background-color: gray;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

	max-height: 45vh;
	overflow-y: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	font-size: 1rem;
}

#settingpanel h3 {
	margin: 4px 0;
}

#settingpanel hr {
	margin: 2px 0 16px 0;
	border: none;
	border-top: 1px solid rgb(73, 73, 73);
}

.setbox {
	overflow-x: auto;
	border: 1px solid rgb(70, 70, 70);
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.setbox > div {
	display: grid;
	grid-template-columns: 120px 1fr;
	align-items: baseline;
}

.setbox label {
	margin: 0.5rem 0;
}

#settingpanel input[type="text" i] {
	height: 24px;
	border-radius: 4px;
	border-style: none;
	border: none;
	padding-block: 3px;
	padding-inline: 5px;
	margin-right: 5px;
}

.halves {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3px;
}

@media (max-width: 400px) {
	#settingpanel {
		font-size: 0.8rem;
	}

	.setbox {
		margin: 5px 0;
	}

	.setbox > div {
		grid-template-columns: 100px 1fr;
	}
}

.setbutton {
	position: absolute;
	right: 20px;
	top: -110px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	opacity: 0.15;
	transition: opacity 0.3s;
}

.setbutton:hover {
	opacity: 1;
}

.setbutton img {
	width: 90px;
	height: 90px;
	margin: 5px;
}

.setbox button {
	border: none;
	border-radius: 4px;
	padding: 4px;
	margin: 0 2px;
	transition: background-color 0.3s;
}

.setbox button:hover {
	background-color: #3f3f3f;
	color: white;
}
