.shortcut {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: var(--iconsize);
	height: var(--iconsize);

	position: relative;
	cursor: pointer;

	margin: var(--iconmargin);
	overflow: hidden;
}

.shortcut.selected {
	box-shadow: 0 0 10px 5px orange;
	z-index: 1;
	opacity: 1;
}

.shortcut .name {
	background-color: rgba(0, 0, 0, 0.808);
	color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

	opacity: 0;
	transition: opacity 0.3s;

	font-size: 1.2rem;
	text-wrap: wrap;
	word-wrap: break-word;
	text-decoration: none;
}

.shortcut:hover .name {
	opacity: 1;
}

.shortcut img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.xbutton {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 25%;
	z-index: 10;

	opacity: 0.15;
	transition: opacity 0.3s;
	border: 1px solid rgb(0, 0, 0);
}

.xbutton:hover {
	background-color: rgb(255, 110, 0);
	opacity: 1;
}

.xbutton img {
	width: 100%;
	height: 100%;
}
