.shortcut {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: var(--iconsize);
	height: var(--iconsize);

	position: relative;
	cursor: pointer;
}

.shortcut.editmode {
	opacity: 0.75;
}

.shortcut.selected {
	box-shadow: 0 0 10px 5px orange;
	z-index: 1;
	opacity: 1;
}

.shortcut p {
	background-color: black;
	color: white;
	z-index: 1;
}

.shortcut img {
	position: absolute;
	object-fit: fill;
	width: 100%;
	height: 100%;
}

.xbutton {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 25%;
	z-index: 1;

	background-color: orange;
}

.xbutton img {
	width: 100%;
	height: 100%;
}
