body {
	background-color: var(--backgroundcolor);

	margin: 0;
	padding: 0;
	font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
}

.main_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100vh;
}

.main_content {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-y: auto;
}

.frame {
	max-width: var(--framesize);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	background-color: var(--framecolor);

	margin-top: 50px;
	padding: var(--framepadding);
}

.setbutton {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	opacity: 0.15;
	transition: opacity 0.3s;
}

.setbutton:hover {
	opacity: 1;
}

.setbutton img {
	width: 90px;
	height: 90px;
	margin: 5px;
}
