body {
	background-color: var(--backgroundcolor);

	margin: 0;
	padding: 0;
	font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;

	/* background-image: var(--backgroundimage); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body > a {
	display: none;
}

.main_area {
	width: 100%;
	height: 100vh;
}

.main_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-y: auto;
}

.frame {
	max-width: var(--framesize);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	background-color: var(--framecolor);

	margin-top: 50px;
	padding: var(--framepadding);
}

.spacer {
	height: 0px;
}

.spacer.edit {
	height: 450px;
}

.setting_area {
	width: 100%;
	position: fixed;
	top: 100vh;
	bottom: auto;
	z-index: 20;
}

.setting_area.edit {
	top: auto;
	bottom: 0;
	animation-name: slide-up;
	animation-duration: 0.5s;
}

@keyframes slide-up {
	from {
		bottom: -100%;
	}
	to {
		bottom: 0%;
	}
}

@keyframes slide-down {
	from {
		bottom: 0%;
	}
	to {
		bottom: -100%;
	}
}
